# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb
*.log

# Virtual environments
venv/
.env/
.venv/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml

# Firebase credentials
firebase/firebase-key.json
